body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background: linear-gradient(to bottom, rgb(79, 6, 112), #ffffff);
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #ffffff;
}
h2 {
    color: #000000;
}

p{
    color: rgb(255, 255, 255);
}